mat-toolbar {
  background-color: #3b1877;
  color: white;
}

.admin-navbar {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
}
.navbar-title {
  font-size: 2rem;
  font-weight: 500;
}
.spacer {
  flex: 1 1 auto;
}
